* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.row {
    --bs-gutter-x: 0rem;
}

body {
    font-family: "Helvetica Neue", "Droid Sans", Roboto, Arial, sans-serif;
}

/* ************************** Main Section ********************** */

.Credit_card img {
    width: 55%;
    text-align: start;
}

.icon_lock {
    text-align: end;

}

.icon_lock a {
    color: black;
    text-decoration: none;
}

.background_image {
    background-image: url(/images/background_image.png);
    background-position: center;
    width: 100%;
    height: 50px;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-color: currentcolor;
    color: #dc1431;
}

.background_image h4 {
    color: white;
    font-size: 20px;
    position: relative;
    top: 10px;
    left: 20px;
    font-weight: 400;
}

.card_section h4 {
    font-weight: 500;
    font-family: serif;
    color: black;

}

.card_section span {
    color: black;
}

.card_section p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(60, 59, 59);
}

/* *************************  login_form ******************* */
.login_form h2 {
    color: #dc1431;
    font-weight: 500;
}

.login_form button {
    padding: 5px;
    border: 2px solid #0073cf;
    color: #0073cf;
    width: 200px;

}

.login_form button:hover {
    background-color: #0073cf;
    color: white;
    transition: 0.5s;
}

.login_form input {
    margin-bottom: 20px;
    padding: 8px;
    outline: none;
}

.login_form select {
    border-radius: 0px;
    outline: none;
    margin-bottom: 20px;

}

.login_form label {
    text-align: start;
    font-size: 14px;
}

.selct_three_portion .col-lg-4 {
    padding: 10px;
}

.second_portion {
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th,
    td {
        text-align: left;
        padding: 16px;
        border: 1px solid black;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    p {
        font-size: 14px;
    }
}

.long_text p {
    font-size: 14px;

}

.long_text button {
    width: 100%;
    text-align: center;
    background-color: #bdbebf;
    color: white;
    padding: 5px;
    border: none;
}

.second_portion {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.check_box button {
    text-align: center;
    background-color: #0073cf;
    color: white;
    padding: 10px;
    width: 250px;
    border: none;
}

.check_box input {
    /* font-size: 26px; */
    width: 55px;
}

.check_box label {
    margin-left: 20px;

}

.check_box a {
    color: #0073cf;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}